@use '../abstracts/mixins' as mixins;
@use '../abstracts/media' as media;

.form {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;

  @include media.tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media.mobile {
    gap: 1rem;
  }

  &__input {
    flex-grow: 1;
    width: 100%;
    padding: 0.75rem;
    padding-left: 1.5rem;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    line-height: 1;
    border: none;
    border-radius: var(--border-radius-md);
    color: var(--text-primary);
    background-color: var(--background-secondary);
    @include mixins.transition(box-shadow);

    @include media.mobile {
      padding: 0.5rem;
      padding-left: 1rem;
    }

    @include mixins.hover {
      box-shadow: var(--box-shadow);
    }

    @include mixins.focus {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }

    &::placeholder {
      color: var(--text-placeholder);
    }
  }
}
