@use '../abstracts/mixins' as mixins;
@use '../abstracts/media' as media;

.timer {
  position: relative;
  display: grid;
  grid-template-columns: 24rem;
  place-items: center;
  row-gap: 3rem;
  padding: 3.75rem 2.25rem;
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-xlg);
  background-color: var(--background-primary);
  backdrop-filter: var(--blur);

  @include media.tablet {
    grid-template-columns: 20rem;
    row-gap: 2.5rem;
    padding: 3.25rem 2rem;
  }

  @include media.mobile {
    grid-template-columns: 16rem;
    row-gap: 2rem;
    padding: 2.75rem 1.75rem;
  }

  &__title {
    font-size: var(--font-size-md);
  }

  &__content {
    position: relative;
  }

  &__progress {
    --progress-width: 16rem;
    --progress-height: 16rem;
    --cx: 120;
    --cy: 120;
    --r: 112;
    --stroke-width: 16;
    --stroke-dasharray: 710;
    --stroke-dashoffset: 710;

    width: var(--progress-width);
    height: var(--progress-height);
    rotate: -90deg;
    filter: var(--drop-shadow);

    @include media.tablet {
      scale: 0.8;
    }

    @include media.mobile {
      scale: 0.7;
    }
  }

  &__circle {
    cx: var(--cx);
    cy: var(--cy);
    r: var(--r);
    stroke: var(--text-accent);
    stroke-width: var(--stroke-width);
    stroke-dasharray: var(--stroke-dasharray);
    stroke-dashoffset: var(--stroke-dashoffset);
    fill: none;
  }

  &__time {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 112;
    translate: -50% -50%;
    font-size: var(--fonts-size-lg);
    letter-spacing: 0.125rem;
  }

  &__button {
    width: unset;
    height: unset;
    padding: 0.75rem 1.75rem;
    font-size: var(--font-size-md);
    text-transform: uppercase;

    @include media.tablet {
      padding: 0.625rem 1.5rem;
    }

    @include media.mobile {
      padding: 0.5rem 1.25rem;
    }
  }
}
