@use '../abstracts/mixins' as mixins;
@use '../abstracts/media' as media;

.timer {
  position: relative;
  display: grid;
  grid-template-columns: 24rem;
  place-items: center;
  row-gap: 3rem;
  padding: 3.75rem 2.25rem;
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-xlg);
  background-color: var(--background-primary);
  backdrop-filter: var(--blur);

  @include media.tablet {
    grid-template-columns: 20rem;
    row-gap: 2.5rem;
    padding: 3.25rem 2rem;
  }

  @include media.mobile {
    grid-template-columns: 16rem;
    row-gap: 2rem;
    padding: 2.75rem 1.75rem;
  }

  &__title {
    margin-bottom: 0.75rem;
    font-size: var(--font-size-md);
  }

  &__pomodoro-counter {
    @include mixins.flex-center;
    column-gap: 0.25rem;

    @include media.tablet {
      column-gap: 0.2rem;
    }

    @include media.mobile {
      column-gap: 0.15rem;
    }
  }

  &__pomodoro-alarm {
    & svg {
      width: 1.5rem;
      height: 1.5rem;

      @include media.tablet {
        width: 1.25rem;
        height: 1.25rem;
      }

      @include media.mobile {
        width: 1rem;
        height: 1rem;
      }
    }

    &--is-active {
      color: var(--text-accent);
    }
  }

  &__content {
    position: relative;
  }

  &__progress {
    --border-width: 16px;
    --angle: 0deg;

    position: relative;
    width: 18rem;
    height: 18rem;

    @include media.tablet {
      --border-width: 14px;

      width: 16rem;
      height: 16rem;
    }

    @include media.mobile {
      --border-width: 12px;

      width: 14rem;
      height: 14rem;
    }

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 110;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: conic-gradient(
        var(--accent) var(--angle),
        var(--background-primary) var(--angle)
      );
    }

    &:after {
      content: '';
      position: absolute;
      top: var(--border-width);
      left: var(--border-width);
      z-index: 111;
      width: calc(100% - var(--border-width) * 2);
      height: calc(100% - var(--border-width) * 2);
      border-radius: 50%;
      background: var(--background-linear-gradient);
    }
  }

  &__time {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 112;
    translate: -50% -50%;
    font-family: var(--font-family-mono);
    font-size: var(--fonts-size-lg);
  }

  &__buttons {
    display: flex;
    column-gap: 2rem;

    @include media.tablet {
      column-gap: 1.5rem;
    }

    @include media.mobile {
      column-gap: 1rem;
    }
  }

  &__button {
    width: unset;
    height: unset;
    padding: 0.75rem 1.75rem;
    font-size: var(--font-size-md);
    text-transform: uppercase;

    @include media.tablet {
      padding: 0.625rem 1.5rem;
    }

    @include media.mobile {
      padding: 0.5rem 1.25rem;
    }

    &--hide {
      display: none;
    }
  }
}
