@use '../abstracts/mixins' as mixins;
@use '../abstracts/media' as media;

.app {
  --top: var(--container-padding-x);
  --right: var(--container-padding-x);

  width: 100%;
  min-height: 100vh;
  padding-block: 2.25rem;
  @include mixins.flex-center();

  @include media.tablet {
    padding-block: 1.75rem;
  }

  @include media.mobile {
    padding-block: 1.25rem;
  }

  &__content {
    position: relative;
    display: grid;
    row-gap: 2.5rem;
    padding: 5.5rem 1.25rem 2.5rem 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-xlg);
    background-color: var(--background-primary);
    backdrop-filter: var(--blur);

    @include media.tablet {
      row-gap: 2rem;
      padding: 5rem 1rem 2rem 1rem;
    }

    @include media.mobile {
      row-gap: 1.75rem;
      padding: 4rem 0.75rem 1.5rem 0.75rem;
    }
  }

  &__settings-button {
    position: absolute;
    top: var(--top);
    right: var(--right);
  }

  &__title {
    margin: 0 auto;
    font-size: var(--fonts-size-lg);
  }
}
