@use '../abstracts/mixins' as mixins;

.overlay {
  @include mixins.flex-center();
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  scale: 0.5;
  color: var(--text-primary);
  background-color: var(--background-overlay);

  &--open {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }
}
